@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  html {
    font-family: "Open Sans", system-ui, sans-serif;
  }
}
/* Scrollbar konteyneri */
::-webkit-scrollbar {
  width: 8px; /* Scrollbar genişliği */
}

/* Scrollbar tutamaç */
::-webkit-scrollbar-thumb {
  background: #888; /* Scrollbar rengi */
  border-radius: 5px; /* Scrollbar yuvarlak kenarları */
}

/* Scrollbar tutamaç : hover durumu */
::-webkit-scrollbar-thumb:hover {
  background: #555; /* Scrollbar rengi : hover durumu */
}

/* Scrollbar track (arka plan) */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* Scrollbar track arka plan rengi */
  border-radius: 5px; /* Scrollbar track yuvarlak kenarları */
}

/* Scrollbar track : aktif olmayan durum */
::-webkit-scrollbar-track:inactive {
  background: #f1f1f1; /* Scrollbar track arka plan rengi : aktif olmayan durum */
}